/*   BEGIN 4 GRID  */
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.0%;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}

.span_3_of_4 {
	width: 74.6%;
}

.span_2_of_4 {
	width: 49.2%;
}

.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}
/*   END 4 GRID   */


body {
    font-family: 'Cutive', serif;
    margin-left: 8vw;
    margin-right: 8vw;
}

header img {
    max-width: 10%;
    height: auto;
}

header h1 {
    float: right;
    padding-top: 20px;
 }

nav {
    background-color: #94c840;
    width: 100%;
    margin-bottom: 100;
 }

nav li {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}
nav li a {
    text-decoration: none;
    padding: 20px;
    color: white;
}
nav li:hover {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    transition: background-color 0.5s ease;
    background-color: #d6e8b8;
   
}

nav li a:hover {
    text-decoration: none;
    padding: 20px;
    transition: color 0.5s ease;
    color: #523e33;
}

section a {
    text-decoration: none;
    color: aliceblue;
}

aside h3 {
   color: #94c840;
 }

.img-container {
    background-image: url("../images/class1.jpg");
    background-size: 100%;
    
}
.intro {
    margin: 20px;
    color: ghostwhite;
    background-color: rgba(82, 62, 51, .5);    
    padding: 10px;
}


.lessons section:nth-child(1) {
    background-color: #94c840;
    font-size: 0.9rem;
    margin: 3;
    padding: 5px;
    color: white;
}

.lessons section:nth-child(2) {
    background-color: #94c840;
    font-size: 0.9rem;
    margin: 3;
    padding: 5px;
    color: white;
}

.policy {
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    color: dimgrey
}

button {
    background: linear-gradient(#94c840, #d6e8b8); 
    font-family: 'Cutive', serif;
    color: white;
    border: 1px solid #94c840;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}